.container {
    display: flex;
    flex-direction: column;
    height: 225px;
    width: 200px;
    border: 1px solid #e5ddfd54;
    border-radius: 10px;
    padding: 10px;
}

.container > img {
    border-radius: 10px;
    height: 100px;
    width: 200px;
}

.container > h3 {
    font-size: 16px;
    margin: 10px 0 0 0;
}

.container > p {
    font-size: 12px;
    margin: 10px 0;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.container > .btns > a {
    display: flex;
    text-decoration: none;
    justify-content: center;
}

.container > .btns > a > button {
    background-color: #7a4eff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.container > .btns > a > button:hover {
    background-color: #1A1A1A;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}